full_size
Antihipertensivos1_estandarizado.csv
Antihipertensivos2_estandarizado.csv
OtrosMedicamentos_estandarizado.csv
registros_clasificados_por_medicamento_dirty.csv
registros_clasificados_por_medicamento_final.csv
v1_registros_clasificados_por_medicamento_final.csv
v2_Oof_registros_clasificados_por_medicamento_final.csv